<div class="container">
  <mat-toolbar color="primary" class="header">
    <h1>Wit chat</h1>
  </mat-toolbar>

  <div class="content" #content>
    <router-outlet></router-outlet>
  </div>

  <mat-toolbar class="footer">
    
      <mat-form-field appearance="fill" floatLabel="never">
        <input matInput placeholder="Start a conversation..." [(ngModel)]="text" (keydown.enter)="send()" required>
        <button matSuffix mat-icon-button aria-label="Send" (click)="send()" [disabled]="!text">
          <mat-icon>send</mat-icon>
        </button>
      </mat-form-field>
   
  </mat-toolbar>
</div>